body {
  background-image: url("../imagenes/imgbebe3.jpg");
  background-size: cover;
  margin: 7rem;
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;

}

.enviar {
  background-color: #033fff;
  font-size: 1.5rem;
}

h1 {
  background-color: #f36363;
  font-size: 3rem;
  text-align: center;
}

h2 {
  background-color: #ffe867;
}

label {
  font-size: 3rem;
  color: #621295;

}
